p{
    color: brown;
    letter-spacing: 1px;
    font-size: 15px;
}

span {
    letter-spacing: 1px;
}

#mobilenet {
    letter-spacing: 2px;
}

.bottom {
    color: brown;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
  font-family: 'Roboto Slab', serif;
  background-color: gray;
}

.img {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 300px;
    border-radius: 10px;
}

b {
    color: blueviolet;

}

.first , .second {
    background-color: aliceblue;
    border-radius: 10px;
    line-height: 2;
}

.test_image_and_result1,.test_image_and_result2,.test_image_and_result3,.test_image_and_result4,.test_image_and_result5,.test_image_and_result6,.test_image_and_result7,.test_image_and_result8,.test_image_and_result9
{
    margin-top: 15px;
    background-color: gray;
    border-radius: 10px;
    box-shadow: 2px 2px 25px grey;
    width: 99%;
    margin-bottom: 15px;
}

.white1 , .white2 , .white3 , .white4 , .white5 , .white6 , .white7 , .white8 , .white9
{
    color: white;

}

span {
    color: brown;

}

.google_lens {
    color: black;
}

h4{
    color: aliceblue;
    font-weight: bold;
}

h5 span {
    font-weight: bold;

}

.bottom1 {
    font-weight: bold;
    font-size: 15px;
    width: 50%;
}